/.vs/
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
htmlcov/
.tox/
.nox/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual environment
venv/
.venv/
env/
.env/

# Miscellaneous
*.bak
*.swp
*.swo
*~
.DS_Store
.ipynb_checkpoints
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
.history/